@use "sass:color";
@use "../utils/variables" as *;

.restaurants {
    background-color: #f6f6f6;
    padding: 50px 20px; 

    .container {
        margin: 0 auto;
    }

    &__title {
        margin-bottom: 25px; 
    }
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card {
    background-color: white;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden; // Correction : force l'image à respecter les arrondis de la carte

    &__link {
        text-decoration: none;
        color: inherit;
        display: block;
    }

    &__img {
        width: 100%;
        height: 175px;
        object-fit: cover;
    }

    &__badge {
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $color-tertiary;
        color: color.adjust($color-tertiary, $lightness: -40%);
        padding: 7px 12px;
        border-radius: 2px;
        font-size: 14px;
        font-weight: 500;
        z-index: 1;
    }

    &__content {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__txt {
        h3 {
            margin: 0 0 5px 0;
        }
        p {
            margin: 0;
            font-weight: $weight-light;
        }
    }

}

@include tablet-and-up {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 100px;
        row-gap: 50px;
    }
}