header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 2px 4px 0px #00000026;
    position: relative;
    z-index: 999;        

    .header__logo {
        width: 197px;
        height: auto;
    }
    
    .header__arrow {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        color: #353535;
    }
}