@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');
h1, h2 {
    font-size: $size-h1;
    font-weight: $weight-bold;
}

h3 {
    font-size: $size-h3;
    font-weight: $weight-bold;
}

p {
    font-size: $size-p;
    font-weight: $weight-light;
}
