// Couleurs
$color-white:#FFFFFF;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey:#F6F6F6;
$color-darkgrey:#7e7e7e;

// Polices
$font-main: 'Roboto', sans-serif;
$font-logo: 'Shrikhand', cursive;

// Tailles et Graisses
$size-h1: 24px;
$size-h3: 18px;
$size-p: 18px;
$weight-light: 300;
$weight-medium: 500;
$weight-bold: 700;

@mixin tablet-and-up { 
    @media (min-width: 768px) { @content; }
}